<div>
    <p><label for="nome">Nome</label><input type="text" name="nome" [(ngModel)]="animal.nome" /></p>
    <p><label for="tipo">Tipo</label><input type="text" name="tipo" [(ngModel)]="animal.tipo" /></p>
    <p><label for="imagem">Imagem</label><input type="text" name="nome"/></p>
    <p><label for="descricao">Descricao</label><input type="text" name="nome"/></p>
    <p><label for="telefone">Telefone</label><input type="text" name="nome"/></p>
    <p><button (click)="salvar()">Salvar</button></p>
</div>